extends layout

block content
  
  .container(align='center')
    h3 NodeJs Express Socket IO Audio Trigger
    h5 Watershed Arts Trust / Pervasive Media Studio
    h5 by David Haylock
    br 
    h4 Please select your role
    br
    a(href='/controller')
      button.btn.btn-lg.btn-outline-primary.sp Controller

    a(href='/listener1')
      button.btn.btn-lg.btn-outline-danger.sp Listener 1

    a(href='/listener2')
      button.btn.btn-lg.btn-outline-success.sp Listener 2
