extends layout

block content
  
  .container(align='center')
    h3 NodeJs Express Socket IO Audio Trigger
    h5 Watershed Arts Trust / Pervasive Media Studio
    h5 by David Haylock
    br 
    h4 Please select your role
    br
    a(href='/shepard') 
      button.btn.btn-lg.btn-outline-primary.sp Shepard
    a(href='/wolf')
      button.btn.btn-lg.btn-outline-danger.sp Wolf
    a(href='/flock').blt
      button.btn.btn-lg.btn-outline-success.sp Flock
      
