doctype html
html
  head
    title= title
    script(src='/jquery/jquery.js')
    script(src="/bootstrap/dist/js/bootstrap.js")
    link(href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
  body
    block content
