extends layout

block content
    .container(align='center')
        h1= title
        h3 Wolf
        #wolftracks.btn-group-vertical(style='padding: 25px;')
        h3 Flock
        #flocktracks.btn-group-vertical(style='padding: 25px;')

    
        div#events

    
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/shepard.js')
        
